{% trans_default_domain 'FOSUserBundle' %}
<div class="panel-heading">
    <div class="panel-title">Restablecer contraseña</div>
</div>
<div style="padding-top:30px" class="panel-body">
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <i class="glyphicon glyphicon-lock"></i>
                    {{ form_label(form.new.first) }}
                    {{ form_errors(form.new.first) }}
                    {{ form_widget(form.new.first) }}
                </div>
                <div class="col-lg-4">
                    <i class="glyphicon glyphicon-lock"></i>
                    {{ form_label(form.new.second) }}
                    {{ form_errors(form.new.second) }}
                    {{ form_widget(form.new.second) }}
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
	    <div>
	        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-warning"/>
	    </div>
	</form>
</div>