{% extends 'SistemaCPCEBundle::longLayout.html.twig' %}

{% block title %}
    {{ parent() }} - Datos
{% endblock %}
{% block fos_user_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Datos Familiares</div>
        <div class="panel-body">
         <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th class="numeric">#</th>
                        <th class="numeric">Apellido y Nombre</th>
                        <th class="numeric">Parentesco</th>
                        <th class="numeric">Fecha de Nacimiento</th>
                        <th class="numeric">Sexo</th>
                        <th class="numeric">Nro. Doc.</th>
                        <th class="numeric">Fondo Solidario</th>
                        <th class="numeric">Seguro de vida</th>
                        <th class="numeric">Capitalización</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="numeric">1</th>
                        <td data-title="Nombre" class="numeric">{{ entity[0].afiAut1 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil1) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac1|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex1) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc1 }}</td>
                        {% if entity[0].afiBenefFs1 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs1 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv1 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv1 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap1 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap1 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="numeric" scope="row">2</th>
                        <td data-title="Nombre" class="numeric">{{ entity[0].afiAut2 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil2) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac2|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex2) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc2 }}</td>
                        {% if entity[0].afiBenefFs2 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs2 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv2 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv2 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap2 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap2 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="numeric" scope="row">3</th>
                         <td data-title="Nombre" class="numeric">{{ entity[0].afiAut3 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil3) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac3|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex3) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc3 }}</td>
                        {% if entity[0].afiBenefFs3 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs3 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv3 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv3 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap3 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap3 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="numeric" scope="row">4</th>
                        <td data-title="Nombre" class="numeric">{{ entity[0].afiAut4 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil4) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac4|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex4) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc4 }}</td>
                        {% if entity[0].afiBenefFs4 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs4 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv4 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv4 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap4 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap4 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="numeric" scope="row">5</th>
                        <td data-title="Nombre" class="numeric">{{ entity[0].afiAut5 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil5) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac5|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex5) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc5 }}</td>
                        {% if entity[0].afiBenefFs5 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs5 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv5 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv5 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap5 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap5 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th class="numeric" scope="row">6</th>
                        <td data-title="Nombre" class="numeric">{{ entity[0].afiAut6 }}</td>
                        <td data-title="Fil" class="numeric">{{ afiFil(entity[0].afiFil6) }}</td>
                        <td data-title="Fecha de Nacimiento" class="numeric">{{ afiNac(entity[0].afiNac6|date("d/m/Y")) }}</td>
                        <td data-title="Sexo" class="numeric">{{ afiSex(entity[0].afiSex6) }}</td>
                        <td data-title="Dni" class="numeric">{{ entity[0].afiDoc6 }}</td>
                        {% if entity[0].afiBenefFs6 == 1 %}
                                <td data-title="Fondo Solidario" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefFs6 == 0 %}
                                <td data-title="Fondo Solidario" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefSv6 == 1 %}
                                <td data-title="Seguro de vida" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefSv6 == 0 %}
                                <td data-title="Seguro de vida" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                        {% if entity[0].afiBenefCap6 == 1 %}
                                <td data-title="Capitalización" class="numeric">Si</td>
                            {% elseif entity[0].afiBenefCap6 == 0 %}
                                <td data-title="Capitalización" class="numeric">No</td>
                            {% else %}
                        {% endif %}
                    </tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
     {% block buttonsbelow %}
            <div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div class="float-left col-lg-3 col-md-3 col-sm-3">
		                <a class="btn btn-success col-lg-12" href="{{ path('front_dato_editarFamiliares') }}">
		                    Editar Datos
		                </a>
		            </div>
		        </div>
		    </div>
              <div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12">
		            <div class="float-left col-lg-3 col-md-3 col-sm-3">
		                <a class="btn btn-primary col-lg-12" href="{{ path('front_dato') }}">
		                    Volver
		                </a>
		            </div>
		        </div>
		    </div>
        {% endblock %}
    {% endblock %}
