{% extends "SistemaCPCEBundle::longLayout.html.twig" %}

{% block title %}
    {{ parent() }} - Nueva Ficha
{% endblock %}

{% block fos_user_panel %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> Nueva pre-inscripcion
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <h4><span class="label label-info pull-right">{{ entity.fecha|localizeddate('full','none') }}</h4></span>
                        </div>
                    </div>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12" id="afiliado">
                                        {{ form_row(form.afiNrodoc) }}
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12" id="molde">
                                        {{ form_row(form.moldeId) }}
                                    </div>
                                </div><br>
                            </fieldset>
                            {% include 'SistemaInscripcionBundle:Form:form-circunscripciones.html.twig' with {'form': form, 'entity':entity } %}<br>
                            {% include 'SistemaInscripcionBundle:Form:form-fueros.html.twig' with {'form': form, 'entity':entity } %}
                            <br>
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% block buttonsbelow %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="form-control btn btn-info" href="{{ path('admin_peritos_index') }}">
                    Volver a Inscripciones
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}