{% extends "SistemaCPCEBundle::longLayout.html.twig" %}

{% block title %}
    {{ parent() }} - Datos
{% endblock %}

{% block fos_user_panel %}
    <br>
    <div class="panel panel-info center-block">
        <div class="panel-heading"><h4>Detalles de Inscripción</h4></div>
        <div class="panel-body">
            <form class="form-horizontal">
                {% include 'SistemaInscripcionBundle:Form:form-afiliado.html.twig' with {'afiliado': afiliado } %}
            </form>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <br>
                    <legend>Disciplinas seleccionadas a participar #{{ entity.disciplinas|length }}</legend>
                    <div class="row">
                        {% for item in entity.disciplinas %}
                        <div class="col-lg-2 col-md-12 col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-chevron-right"></span> {{ item.nombre }}</li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if entity.transporte or entity.hotel %}
                <fieldset>
                    <legend>Transporte y Estadia del Participante</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Transporte</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {% if entity.transporte %}
                                        {{ entity.transporte }}
                                    {% else %}
                                        * Servicio no contratado
                                    {% endif %}  
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Hotel</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {% if entity.hotel %}
                                        {{ entity.hotel }}
                                    {% else %}
                                        * Servicio no contratado
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
            {% endif %}
            {% if entity.personas|length > 0 %}
                <fieldset>
                    <legend>Acompa&ntilde;antes #{{ entity.personas|length }}</legend>
                </fieldset>
                {% for key, persona in entity.personas %}
                    <div class="panel panel-warning center-block">
                        <div class="panel-heading"><h4>{{ key+1 }}.- {{ persona.apellido }}, {{ persona.nombre }}</h4></div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="control-label">Nro. de Documento</label>
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">
                                                {{ persona.dni }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="control-label">Fecha de Nacimiento</label>
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">
                                                {{ persona.fechaNac|localizeddate('medium','none', null, null, "d LLLL yyyy") }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="control-label">Edad</label>
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">
                                                {{ persona.edad }} a&ntilde;os
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <label class="control-label">Nacionalidad</label>
                                        <div class="form-control">
                                            <span class="input-xlarge uneditable-input">
                                                {{ persona.nacionalidad }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% if persona.transporte or persona.hotel %}
                                    <br>
                                    <fieldset>
                                        <legend>Transporte y Estadia de {{ persona.apellido }}, {{ persona.nombre }}</legend>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label class="control-label"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Transporte</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {% if persona.transporte %}
                                                            {{ persona.transporte }}
                                                        {% else %}
                                                            * Servicio no contratado
                                                        {% endif %}  
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Hotel</label>
                                                <div class="form-control">
                                                    <span class="input-xlarge uneditable-input">
                                                        {% if persona.hotel %}
                                                            {{ persona.hotel }}
                                                        {% else %}
                                                            * Servicio no contratado
                                                        {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
            <fieldset>
                <legend>SubTotal: ${{ entity.importe }}</legend>
            </fieldset>
            <div class="row">
                <div class="col-lg-offset-8 col-md-3 col-sm-3">
                    <a class="form-control btn btn-danger" href="{{ path('admin_inscripcion_pdf', {'id': entity.id}) }}">
                        Imprimir Inscripción
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}